QWidget {
    color: #EEEEEE;
    background-color: #171D25;
    font-weight: 300;
}

QPushButton, QListWidget, QComboBox, QToolButton, QLineEdit {
    background-color: #282D36;
    border: none;
    border-radius: 2px;
    padding: 8px;
}

QListWidget::item {
    padding: 4px;
}

QPushButton:hover {
    background-color: #464D58;
}

QPushButton::pressed {
    background-color: #393F49;
}

QPushButton::disabled {
    background-color: #1D2026;
}
